:root {
  --main-bg-color: #2196f3;
  --main-two-color: #757575;
  --main-tree-color: #212121;
}
* {
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.link-logo,
.link-logo1 {
  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2196f3;
  margin-right: 93px;
}
.menu:last-child,
.adres-link:last-child {
  margin-right: 0;
}
.span {
  color: black;
}
.span1 {
  color: white;
}
.nav,
.adres-link {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  padding-left: 0;
}

address {
  font-style: normal;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}
.flexcont {
  display: flex;
}
.flexcont-header {
  height: 80px;
  align-items: center;
}
.flexnav {
  display: flex;
}
.flex-header-adress {
  display: flex;
  padding-left: 0;
  margin-left: auto;
}
.heading {
  background-color: #2f303a;
  text-align: center;
  height: 600px;
}

.menu {
  margin-right: 50px;
}
.menu-link {
  color: var(--main-tree-color);
}
.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  color: var(--main-bg-color);
}
.adres-link {
  margin-right: 50px;
  margin-left: auto;
}
.adres-link1:hover,
.adres-link1:focus,
.adres-link1:active {
  color: var(--main-bg-color);
}
.adres-link1 {
  color: var(--main-two-color);
}
.headerh1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  width: 452px;
}

.blue {
  color: var(--main-bg-color);
}
.button-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: white;
  padding: 10px 32px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-header:hover,
.button-header:active,
.button-header:focus {
  background-color: rgba(24, 140, 232, 1);
}

.value {
  background: #e5e5e5;
}

.values-item {
  display: flex;
}
.text1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.text2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.working-header,
.teams-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.working-item {
  display: flex;
}

.nametext {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.teams {
  background: #f5f4fa;
}
.professionaltext {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
footer {
  background-color: #2f303a;
}
.adres-link2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.tex21 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}

.portfolio-button {
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  /* shadow-middle */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  border: #f5f4fa;
}

.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button:active {
  background: #2196f3;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
